@section_height: 450px;
@section_margin_bottom: 10px;
@content_height: @section_height*3+@section_margin_bottom*4;

header{
	height: 80px;
}

footer{
	height: 150px;
}

.firstline_left{
	width: 33%;
	top: @section_margin_bottom;
	left:0px;
}
.firstline_middle{
	width: 33%;
	top: @section_margin_bottom;
	left:33.5%;
}
.firstline_right{
	width: 33%;
	top: @section_margin_bottom;
	right:0px;
}
.secondline_left{
	width: 66%;
	top: @section_height+@section_margin_bottom*2;
	left:0px;
}
.secondline_right{
	width: 33%;
	top: @section_height+@section_margin_bottom*2;
	right:0px;
}



section{
	height: @section_height;
	margin-bottom: @section_margin_bottom;
}

section{
	position: absolute;
	height: @section_height;
	margin-bottom: @section_margin_bottom;
	z-index: 999;  
}

.about{
	.firstline_left;
}
 .contact{
 	.firstline_right;
 }
.entertainment{
	.firstline_middle;
}
.video{
	.secondline_left;
}
.faq{
	.secondline_right;
}
.content{
	height: @section_height*2+@section_margin_bottom*3;
}
.top{
	bottom: 150px;
}


/*-----------------------------about--------------------------------*/
p.text{
	top:40px;
	height: -40+@section_height;
}

/*----------------------------form------------------------------------*/
input, textarea, #submit{
	margin: 10px 0 0;
}
#submit{
	width: 80px;
	height: 30px;
	border: 1px solid #aaa;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/*message*/
/*.msgbar_success {
	top: @section_margin_bottom;
}
.msgbar_warning {
	top: @section_margin_bottom;
}*/