/*-----------------------------about--------------------------------*/
header {
  height: 80px;
}
footer {
  height: 150px;
}
.firstline_left {
  width: 33%;
  top: 10px;
  left: 0px;
}
.firstline_middle {
  width: 33%;
  top: 10px;
  left: 33.5%;
}
.firstline_right {
  width: 33%;
  top: 10px;
  right: 0px;
}
.secondline_left {
  width: 66%;
  top: 470px;
  left: 0px;
}
.secondline_right {
  width: 33%;
  top: 470px;
  right: 0px;
}
section {
  height: 450px;
  margin-bottom: 10px;
}
section {
  position: absolute;
  height: 450px;
  margin-bottom: 10px;
  z-index: 999;
}
.about {
  width: 33%;
  top: 10px;
  left: 0px;
}
.contact {
  width: 33%;
  top: 10px;
  right: 0px;
}
.entertainment {
  width: 33%;
  top: 10px;
  left: 33.5%;
}
.video {
  width: 66%;
  top: 470px;
  left: 0px;
}
.faq {
  width: 33%;
  top: 470px;
  right: 0px;
}
.content {
  height: 930px;
}
.top {
  bottom: 150px;
}
/*-----------------------------about--------------------------------*/
p.text {
  top: 40px;
  height: 410px;
}
/*----------------------------form------------------------------------*/
input,
textarea,
#submit {
  margin: 10px 0 0;
}
#submit {
  width: 80px;
  height: 30px;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/*message*/
/*.msgbar_success {
	top: @section_margin_bottom;
}
.msgbar_warning {
	top: @section_margin_bottom;
}*/
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
