@section_height: 400px;
@section_margin_bottom: 10px;
@content_height: @section_height*3+@section_margin_bottom*4;

/*---------------whitespace-------------------*/
@big_block_margin: 20px;
@section_padding: 0%;

@firstline_left_width: 33%;
@firstline_middle_width:31.5%;
@firstline_right_widt:32.5%;
@firstline_middle_gap: 1.5%;

@secondline_left_width:66%;
@secondline_right_width: 33%;


#tit,.content{
	margin-top: @big_block_margin;
}


header{
	height: 80px;
}

footer{
	height: 150px;
}

.firstline_left{
	padding: @section_padding;
	width: @firstline_left_width;
	top: @section_margin_bottom;
	left:0px;
}
.firstline_middle{
	padding: @section_padding;
	width: @firstline_middle_width;
	top: @section_margin_bottom;
	left: @firstline_left_width+@firstline_middle_gap;
}
.firstline_right{
	padding: @section_padding;
	width: @firstline_right_widt;
	top: @section_margin_bottom;
	right:0px;
}
.secondline_left{
	padding: @section_padding;
	width: @secondline_left_width;
	top: @section_height+@section_margin_bottom*2;
	left:0px;
}
.secondline_right{
	padding: @section_padding;
	width: @secondline_right_width;
	top: @section_height+@section_margin_bottom*2;
	right:0px;
}


section{
	position: absolute;
	height: @section_height;
	margin-bottom: @section_margin_bottom;
	z-index: 999;  
}

.about{
	.firstline_left;
}
 .contact{
 	.firstline_right;
 }
.entertainment{
	.firstline_middle;
}
.video{
	.secondline_left;
}
.faq{
	.secondline_right;
}
.content{
	height: @section_height*2+@section_margin_bottom*3;
}
.top{
	bottom: 150px;
}


/*-----------------------------about--------------------------------*/
p.text{
	height: -80+@section_height;
}

/*----------------------------form------------------------------------*/
input, textarea, #submit{
	margin: 10px 0 0;
}
#submit{
	width: 80px;
	height: 30px;
	border: 1px solid #aaa;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}