@section_height: 400px;
@section_margin_bottom: 25px;
@content_height:@section_height*3+@section_margin_bottom*4;

/*---------------whitespace-------------------*/
@big_block_margin: 20px;
@firstline_left_width:49%;
@firstline_right_width:48.5%;
@secondline_left_width:49%;
@secondline_right_width:48.5%;


#tit,.content{
	margin-top: @big_block_margin;
}

h2{
	font-size: 2.36em;
}

.videoline{
	width: 100%;
	left:0px;
	top: @section_height*2+@section_margin_bottom*3;
}
.firstline_left{
	width: @firstline_left_width;
	top: @section_margin_bottom;
	left: 0px;
}
.firstline_right{
	width: @firstline_right_width;
	top: @section_margin_bottom;
	right: 0px;
}
.secondline_left{
	width: @secondline_left_width;
	top: @section_height+@section_margin_bottom*2;
	left: 0px;
}
.secondline_right{
	width: @secondline_right_width;
	top: @section_height+@section_margin_bottom*2;
	right: 0px;
}
/*header{
	height: 50px;
}*/

footer{
	height: 40px;
}
section{
	position: absolute;
	height: @section_height;
	margin-bottom: @section_margin_bottom;
	z-index: 999;  
}

.inside{
	min-height: @section_height*.7;
	p{
		padding: 0px 3px;
	}
	input, textarea{
		width: 96%;
		padding: 1% 2%;
	}
}


.video{
	.videoline;
}

.about{
	.firstline_left;
}


.entertainment{
	.firstline_right;
}

.faq{
	.secondline_left;
}
.contact{
	.secondline_right;
}
.content{
	height: @content_height;
}
.top{
	bottom: 40px;
}

/*-----------------------------about--------------------------------*/
p.text{
	height: -60+@section_height;
}

/*----------------------------form------------------------------------*/
input, textarea, select, #submit{
	margin: 8px 0 0;
}
#submit{
	width: 80px;
	height: 30px;
	border: 1px solid #aaa;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}