/*-----------------------------about--------------------------------*/
h2 {
  font-size: 2.36em;
}
.videoline {
  width: 100%;
  left: 0px;
  top: 830px;
}
.firstline_left {
  width: 49.5%;
  top: 10px;
  left: 0px;
}
.firstline_right {
  width: 49.5%;
  top: 10px;
  right: 0px;
}
.secondline_left {
  width: 49.5%;
  top: 420px;
  left: 0px;
}
.secondline_right {
  width: 49.5%;
  top: 420px;
  right: 0px;
}
header {
  height: 50px;
}
footer {
  height: 100px;
}
section {
  position: absolute;
  height: 400px;
  margin-bottom: 10px;
  z-index: 999;
}
.video {
  width: 100%;
  left: 0px;
  top: 830px;
}
.about {
  width: 49.5%;
  top: 10px;
  left: 0px;
}
.entertainment {
  width: 49.5%;
  top: 10px;
  right: 0px;
}
.faq {
  width: 49.5%;
  top: 420px;
  left: 0px;
}
.contact {
  width: 49.5%;
  top: 420px;
  right: 0px;
}
.content {
  height: 1240px;
}
.top {
  bottom: 100px;
}
/*-----------------------------about--------------------------------*/
p.text {
  top: 40px;
  height: 360px;
}
/*----------------------------form------------------------------------*/
input,
textarea,
#submit {
  margin: 8px 0 0;
}
#submit {
  width: 80px;
  height: 30px;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
