@section_height: 300px;
@section_margin_bottom: 10px;
@content_height: @section_height*6+@section_margin_bottom*7;


h2{
	font-size: 2.36em;
}

.videoline{
	width: 100%;
	left:0px;
	top: @section_margin_bottom;
}

.section(@level:0){
	width: 100%;
	top: @section_height*@level+@section_margin_bottom*(@level+1);
	left: 0px;
}
header{
	height: 50px;
}

footer{
	height: 100px;
}
section{
	position: absolute;
	height: @section_height;
	margin-bottom: @section_margin_bottom;
	z-index: 999;  
}

.video{
	.section(4);
}

.about{
	.section(1);
}


.entertainment{
	.section(0);
}

.faq{
	.section(2);
}
.contact{
	.section(3);
}
.content{
	height: @content_height;
}

.top{
	bottom: 100px;
}

/*-----------------------------about--------------------------------*/
p.text{
	top:40px;
	height: -40+@section_height;
}

/*----------------------------form------------------------------------*/
input, textarea, #submit{
	margin: 5px 0 0;
}
#submit{
	width: 50px;
	height: 20px;
	border: 1px solid #aaa;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius:8px;
}