@background_color: url('../resource/bg.jpg') repeat ;
@section_color: @background_color;
@header_color: #8D6832;
@footer_color:@background_color;
@lable_color: #EB2727;
@divider_color: #EB2727;
/*---------------------------------*/
@divider_thickness: 7px;
@whitespace_in_section: 15px;
/*--------------Font-----------------------*/
@font-face {
    font-family: logo;
    src: url("../font/Benjamin.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family: subtitle;
    src: url("../font/CreakyFrank.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family: articltext;
    src: url("../font/CreakyFrank.ttf") /* TTF file for CSS3 browsers */
}











*{
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	font-size: 12px;
	//background: @background_color;
}
body{
	background: @background_color;
}
p,input, textarea{	
	font-size: 1.2em;
	text-align: justify;
	font-family: articaltext;
	line-height: 18px;
}
h1{
	display: none;
}
h2{
	font-size: 3.16666667em;
	color: @lable_color;
}
h3{	
	font-family: subtitle;
	padding: 0px 0px 5px;
	font-size: 1.83333333em;
	color: @lable_color;
}
header{
	width: 100%;
	background: @header_color;
}

footer{
	width: 100%;
	background: @footer_color;
}

.divider{
	width: 100%;
	height: @divider_thickness;
	border-radius : 3.5px;
	  -webkit-border-radius : 3.5px;
	  -moz-border-radius : 3.5px;
	background-color: @divider_color; 
}

.title.lable{
	width: 80%;
	margin: 0 auto;
}
.title.lable img{
	width: 100%;
}
section{

	&:hover{
			background-color: @section_color; 

	}
}
.top{
	  cursor : pointer;
	  display : none;
	  margin : 0px 0px 0px 370px;
	  position : fixed;
	  bottom : 10px;
	  right: 20px;
	  font-size : 90%;
	  padding : 10px;
	  width : 100px;
	  text-align : center;
	  background-color : #000;
	  border-radius : 8px;
	  -webkit-border-radius : 8px;
	  -moz-border-radius : 8px;
	  filter : alpha(opacity=60);
	  -khtml-opacity : 0.6;
	  -moz-opacity : 0.6;
	  opacity : 0.6;
	  color : #FFF;
	  font-size : 14px;
	  z-index : 1000;
	  &:hover{
	  	filter : alpha(opacity=90);
  		-khtml-opacity : 0.9;
  		-moz-opacity : 0.9;
  		opacity : 0.9;
  	}
}
.content{
	width: 80%;
	min-height: 200px;
	margin: 0 auto;
	.slider_show{
		.lable{
			h2{
				text-align: center;
			}
		}
	}
}
.inside{
	margin-top: @whitespace_in_section;
}
.slider{
	display: block;
	width: 80%;
	margin: 0 auto;
	
	li{
		display: block;
		width: 100%;
		
		img{
			border-radius : 15px;
	  	-webkit-border-radius : 15px;
	  	-moz-border-radius : 15px;
			-webkit-box-shadow: 12px 12px 14px rgba(48, 50, 64, 1);
			-moz-box-shadow:    12px 12px 14px rgba(48, 50, 64, 1);
			box-shadow:         12px 12px 14px rgba(48, 50, 64, 1);
			display: block;
			width: 100%;
		}
	}
}

p.text{
	display: block;
	overflow: auto;
	/*position: absolute;*/
}

input, textarea{
	border-radius : 8px;
	-webkit-border-radius : 8px;
	-moz-border-radius : 8px;
	padding-left: 2.5%;
	padding-right: 2.5%;

}

input{
	width: 95%;
	display: block;
	height: 24px;
	border: 1px solid #aaa;
}
textarea{
	display: block;
	width: 95%;
	height: 50%;
	border: 1px solid #aaa;
}
ul{
	list-style: none;
	li a{
		text-decoration: none;
	}
}
#submit{
	&:hover{
		background-color: white;
	}
}

#tit h2{
	font-family: logo;
	text-align: center;
}

